.btn{

  background-color:#00FFCA ;
  
};

.slogan{
  color: red;
  
}

.card{
   border-color:  rgb(111, 66, 193);
   
}
.navbar{
   box-shadow: #EBF4FA;
}

.bt{
   background-color: #4E6E81;
   color: white;
}

.back-icon{
   position: relative;
   top:34px;
   left: 10px;
   width: 30px;
   height: 30px;
 
 }
 .star-rating{
   margin-top: 3px;
   margin-left: 10%;
 }
 .star-rating button {
   background-color: transparent;
   border: none;
   outline: none;
   cursor: pointer;
 }
 .on {
   color: #f5bd05;
 }
 .off {
   color: #ccc;
 }
 .bg-details{
   position: relative;
   
 }
 